<h1 class="page-header text-center">Lookup Results</h1>

<div class="row move-down">
  <div class="col-sm-6 col-sm-offset-3">
    <form action="/books/lookup/results" method="post">
      <div class="form-group">
        <label target="title">Search for a book:</label>
        <input id="title" name="title" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Search!</button>
    </form>
  </div>
</div>

<div class="row move-down books-container">
  <div class="col-sm-6 col-sm-offset-3">
    <% if Book.all.empty? %>
      <p class="lead text-center">The library is currently empty. <a href="/books/new">Add a book.</a></p>
    <% elsif @found_books.any? %>
      <ul>
        <% @found_books.each() do |book| %>
          <li><a href="/books/<%= book.id %>"><%= book.title() %> by <%= book.author %></a></li>
        <% end %>
      </ul>
    <% else %>
      <p class="lead text-center">Sorry, no books match your search.</p>
    <% end %>
  </div>
</div>

<div class="row move-down">
  <div class="col-sm-6 col-sm-offset-3">
    <% if @book %>
      <p class="lead text-center">You just added <em><%= @book.title %></em> by <em><%= @book.author %></em></p>
    <% end %>
  </div>
</div>

<a href="/books/home" class="back-link">< Back</a>
