<h1 class="page-header text-center"><%= @book.title %></h1>
<p class="lead text-center">by
  <% @book.authors.each_with_index do |author, index| %>
    <% if author %>
      <% if index == 1 %>
        and
      <% end %>
      <%= author.full_name %>
    <% end %>
  <% end %>
</p>

<div class="row move-down">
  <div class="col-sm-6 col-sm-offset-3">

    <form action="/books/<%= @book.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <div class="form-group">
        <label target="title">Book Title:</label>
        <input id="title" name="title" class="form-control" value="<%= @book.title %>" autofocus required>
      </div>

      <label>Author 1</label>

      <div class="form-group form-inline no-wrap">
        <input id="first_name1" name="first_name1" class="form-control half-width" value="<%= @book.authors.first.first_name %>"placeholder="First Name" required>
        <input id="last_name1" name="last_name1" class="form-control half-width" value="<%= @book.authors.first.last_name %>"" placeholder="Last Name" required>
      </div>

    <% if @book.authors.size == 2 %>
      <label>Author 2</label>

      <div class="form-group form-inline no-wrap">
        <input id="first_name2" name="first_name2" class="form-control half-width" value="<%= @book.authors[1].first_name %>" placeholder="First Name">
        <input id="last_name2" name="last_name2" class="form-control half-width" value="<%= @book.authors[1].last_name %>" placeholder="Last Name">
      </div>
    <% end %>

      <button type="submit" class="btn btn-success stretch">Update</button>
    </form>

    <form actions="/books" method="post">
      <input type="hidden" name="_method" value="delete">
      <button class="btn btn-danger stretch">Delete</a>
    </form>
  </div>
</div>

<a href="/books/lookup" class="back-link">< Back</a>
